#navbar {
  background-image: linear-gradient(to bottom right, rgb(201, 84, 6), yellow);
}

#nav {
  color: black;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

#nav:hover {
  background-color: black;
  color: yellow;
  transition-duration: .3s;
}

/* homepage */
#homepage {
  height: 89vh;
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.793));
}

.profileimg{
  box-shadow: 0px 0px 7px rgb(255, 204, 0);
}

#nametitle {
  font-size: 70px;
  font-weight: bolder;
    background-image: linear-gradient(to bottom right, rgb(201, 84, 6), yellow);
  background-clip: text;
  color: transparent;

}

/* aboutpage */
#aboutimg {
  background-image: url(https://thumbs.dreamstime.com/b/writing-displaying-text-me-word-written-my-personal-characteristics-information-likes-dislikes-sign-272515337.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
}

#about {
  background-image: linear-gradient(to bottom right, rgb(15, 3, 3), rgba(0, 0, 0, 0.793));
}

#aboutleftdiv {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* skills */
.skillsbox {
  background-image: linear-gradient(to right bottom, rgb(255, 162, 0), yellow);
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 10%;
  position: relative;
  margin-top: 10px;
}

.skillsbox:hover {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0), rgba(0, 0, 0, 0.66));
  transition-duration: .2s;
}

.skillsbox .skillhoverbox {
  position: absolute;
  display: none;
  font-size: 25px;
  font-weight: 600;
}

.skillsbox:hover .skillhoverbox {
  display: block;
  color: yellow;
  transition-duration: .2s;
}

.smallscreendiv {
  margin-top: 10px;
  color: yellow;

}

#skills {
  background-image: linear-gradient(to right bottom, rgb(22, 10, 3), rgba(0, 0, 0, 0.66));
}

.smallscreendiv {
  display: none;
}

/* projects  */
#projects {
  background-image: linear-gradient(to right bottom, rgb(8, 3, 22), rgba(0, 0, 0, 0.66));
}

.projectcategorydiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 40px 0px;
  background-image: linear-gradient(to right bottom, rgb(255, 162, 0), yellow);
  border-radius: 2%;
  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
}

.projectcategorydiv:hover {
  color: yellow;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0), rgba(0, 0, 0, 0.66));
  border-radius: 2%;
  box-shadow: 0px 0px 20px yellow;
  transition-duration: .3s;
}

/* footer */
#footername {
  color: black;
  font-weight: bold;
}

#footermaindiv {
  background-image: linear-gradient(to bottom right, rgb(201, 84, 6), yellow);
}

/* projects */
#mainprojects {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0), rgba(0, 0, 0, 0.837));
  height: 91vh;
}

.technologiesaccordion {
  background-image: linear-gradient(to bottom right, rgb(201, 84, 6), yellow);
  font-weight: bold;
  font-size: large;
  color: black;
}

.projectpageheader {
  background-image: linear-gradient(to bottom right, rgb(201, 84, 6), yellow);
}

/* media queries */
/* homepage */

@media screen and (max-width:767px) {

  /* homepage */
  #homepage {
    height: 102vh;
  }

  #aboutleftdiv {
    height: 35vh;
  }

  .smallscreendiv {
    display: block;
  }

  .skillsbox {
    font-size: 80px;
    height: 130px;
    width: 130px;
  }

  .skillsbox .skillhoverbox {
    font-size: 22px;
  }

}

@media screen and (max-width:456px) {
  #nametitle {
    font-size: 50px;
    font-weight: bolder;
    color: gold;
  }

  #homepage {
    height: 77vh;
  }

  #aboutleftdiv {
    height: 25vh;
  }

  .skillsbox {
    font-size: 60px;
    height: 100px;
    width: 100px;
  }

  #mainprojects {
    height: 80vh;
  }

  .skillsbox .skillhoverbox {
    font-size: 15px;
  }
}