#navbar {
  background-image: linear-gradient(to bottom right, rgb(201, 84, 6), yellow);
}

#nav {
  color: black;
  font-weight: bold;
  padding:10px  10px 10px 10px;
}

#nav:hover {
  background-color: black;
  color: yellow;
  transition-duration: .3s;
}

/* homepage */
#homepage{
  height: 87vh;

}

#nametitle{
  font-size:70px;
  font-weight: bolder;
}
/* aboutpage */
#aboutimg{
  background-image: url(https://tse4.mm.bing.net/th/id/OIP.I4xv_6dX1VlWG0yDdrSgOgHaG_?r=0&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}